.metricsContainer {
    display:grid;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    padding: 10px;
    margin-bottom: 10%;
}

.lineGraphContainer {
    background-color: rgba(255, 255, 255, 0.60);
    height: min-content;
    border-radius: 20px;
    border: solid 1px white;
    padding: 20px;
    box-shadow: 
        rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.barGraphContainer {
    background-color: rgba(255, 255, 255, 0.60);
    height: min-content;
    border-radius: 20px;
    border: solid 1px white;
    padding: 20px;
    box-shadow: 
        rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.pieChartContainer {
    background-color: rgba(255, 255, 255, 0.60);
    height: min-content;
    border-radius: 20px;
    border: solid 1px white;
    padding: 20px;
    box-shadow: 
        rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}