.navBarContainer {
    /* background-color: rgb(5, 34, 59); */
    background-color: #13201b;
    display: flex;
    width: 100%;
    height: 7vh;
    /* padding: 30px; */
    padding-left: 30px;
    border-bottom: solid 1px rgb(236, 89, 44);
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
  }
  .navBarLeft {
    letter-spacing: 10px;
    display: table;
    table-layout: fixed;
    border-spacing: 10px; /*Optional*/
    height: 100%;
    vertical-align: middle;
    /* grid-template-columns: 30px 1fr; */
    /* grid-gap: 10px; */
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
  }

  .navBarLeft a{
    display: table-cell;
  }
  .navBarLeft h3{
    letter-spacing: normal;
    opacity: 0.6;
    font-weight: 400;
    font-size: medium;
  }

  .homeIcon {
    position: relative;
    height: 100%;
    bottom: 1px;
    font-size: 1.5em;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
  }

  .navBarRight {
    position: relative;
    /* float: right; */
    margin-right: 30px;
    margin-left: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-20%);
    /* right: 90px;
    top:35px; */
  }
  